---
import { getLocaleFromUrl } from '../utils/i18n/i18n';

const certificatesData = await import('../data/work/certificates.json').then((m) => m.default);
const locale = getLocaleFromUrl(Astro.url.pathname);
const issuedLabel = locale === 'de' ? 'Ausgestellt' : 'Issued';
---

<ul>
    {certificatesData.map((cert) => (
        <li>
            <a href={cert.link} target="_blank" rel="noopener noreferrer">
                <h3>{cert.title}</h3>
                                <img
                                    src={`/assets/img/institution_logos/${cert.institution.toLowerCase()}.jpg`}
                                    alt={`${cert.institution} logo`}
                                    width="64"
                                    height="64"
                                    loading="lazy"
                                />
                <p>{cert.institution}</p>
                <p>{issuedLabel}: {cert.issued}</p>
            </a>
        </li>
    ))}
</ul>