---
import { getLocaleFromUrl, getLocalizedContent } from '../utils/i18n/i18n';

type LinkItem = {
	title: string;
	use: string;
	description: string;
	url: string;
	imageUrl: string;
	de?: Partial<LinkItem>;
};

const { linkCategory } = Astro.props;
const locale = getLocaleFromUrl(Astro.url.pathname);

let links: LinkItem[] = [];
if (linkCategory === 'helpful') {
	links = await import('../data/creative/helpful.json').then((m) => m.default);
} else if (linkCategory === 'tool') {
	links = await import('../data/creative/tools.json').then((m) => m.default);
}
---

<ul class="infolinks">
    {links.map((link) => {
        const localizedLink = getLocalizedContent(link, locale);
        return (
            <li>
                <a class="infocard link" href={localizedLink.url}>
                <h3>{localizedLink.title}</h3>
                <p class="use">{localizedLink.use}</p>
                <picture>
                  <img src={localizedLink.imageUrl} alt={localizedLink.title} loading="lazy" />
                </picture>
                <p>{localizedLink.description}</p>
            </a>
            </li>
        );
    })}
</ul>
