---
const resumeData = await import('../data/work/resume.json').then(m => m.default);
---

<ul>
    {[...resumeData].reverse().map((link) => (
        <li>
            <h3>{link.title}</h3>
            <p>{link.institution}, {link.start} - {link.end || "Present"}</p>
            {typeof link.description === "string" ? (
                <p>{link.description}</p>
            ) : (
                <ul>
                    {link.description.map((item) => (
                        <li>{item}</li>
                    ))}
                </ul>
            )}
            {link.grade ? <p>Grade: {link.grade}</p> : null}
        </li>
    ))}
</ul>
